APP_NAME=Homenet Sentinel
APP_ENV=development
DEBUG=true

HOST=127.0.0.1
PORT=8000

DATABASE_URL=mysql+pymysql://root:YOUR_MYSQL_PASSWORD@127.0.0.1:3306/homenet_sentinel

NMAP_PATH=C:\Program Files (x86)\Nmap\nmap.exe

SCAN_INTERVAL_SECONDS=60
DEFAULT_SCAN_TIMEOUT_SECONDS=30

LOCAL_ONLY=true

SECRET_KEY=CHANGE_THIS_TO_A_RANDOM_SECRET_KEY